<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <div class="container">
    <a class="navbar-brand">ZAPROS WEB</a>

    <div class="collapse navbar-collapse" id="navbarsExample07">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/user']">Пользователь</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/projects']">Проекты</a>
        </li>
      </ul>
      <form class="form-inline mx-md-5 my-md-0">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
      </form>
    </div>
  </div>
</nav>
