<section class="jumbotron text-center m-4">
  <h1 class="jumbotron-heading">Регистрация юзера</h1>
  <div class="container">
    <p class="lead text-muted">
      В данной программе нету авторизации, так что для каждой партии ответов создается новый пользователь
    </p>
    <p class="lead text-muted">
      Методы ZAPROS_II и ZAPROS_III, а так же ARACE и ARACE_QV требуют для ранжирования одинаковые данные.<br>
      Разница в том, что ZAPROS_II и ARACE считают на порядковых шкалах, а ZAPROS_III и ARACE_QV - на интервальных
    </p>
    <p class="lead text-muted">
      Threshold позволяет задать допустимый порог противоречий (актуально только для ARACE и ARACE_QV).<br>
      По умолчанию 0,25
    </p>
  </div>
</section>

<div class="d-flex bg-light">
  <div class="mx-auto" style="width: 50%">
    <form [formGroup]="registrationForm" (submit)="sendToBack()" novalidate>
      <div class="form-group my-3">
        <label for="name" class="form-label">Ваше имя:</label>
        <input type="email" class="form-control" id="name" placeholder="Имя" formControlName="name">
      </div>
      <div class="form-group my-3">
        <label for="email" class="form-label mb-1">Ваш email:</label>
        <input type="email" class="form-control" id="email" placeholder="name@edu.spbstu.ru" formControlName="email">
      </div>
      <div class="form-group my-3">
        <label for="methodType" class="form-label">Тип метода</label>
        <select class="form-control" id="methodType" formControlName="methodType">
          <option>ZAPROS_II</option>
          <option>ZAPROS_III</option>
          <option>ARACE</option>
          <option>ARACE_QV</option>
        </select>
      </div>
      <div class="form-group my-3">
        <label for="threshold" class="form-label mb-1">Ваш threshold (только для ARACE и ARACE_QV):</label>
        <input type="email" class="form-control" id="threshold" placeholder="0.25" formControlName="threshold">
      </div>
      <button type="submit"
              class="btn btn-lg btn-block btn-outline-primary my-3">
        Отправить
      </button>
    </form>
  </div>
</div>
