<app-alert *ngIf="needAlert"
           [text]="'Вы уже исправили все противоречия!'"
></app-alert>

<div *ngIf="checkResult">
  <section class="jumbotron text-center my-3" *ngIf="checkResult.over">
    <h1 class="jumbotron-heading">Противоречий не обнаружено!</h1>
  </section>

  <div class="d-flex" *ngIf="checkResult.over">
    <button type="button"
            class="btn btn-lg btn-block btn-outline-primary mx-auto"
            (click)="rankAlternatives()">
      Перейти к ранжированию альтернатив
    </button>
  </div>

  <section class="jumbotron text-center my-3" *ngIf="!checkResult.over">
    <h1 class="jumbotron-heading">Обраружены противоречия!</h1>
  </section>

  <div class="d-flex" *ngIf="!checkResult.over">
    <div class="card mx-auto" style="width: 50%">
      <div class="card">
        <div class="card-header text-center">
          {{textChoose}}
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="d-flex">
              <button type="button"
                      class="btn btn-lg btn-block btn-outline-primary mx-auto"
                      style="width: 50%"
                      (click)="replaceAnswer('BETTER')">
                BETTER
              </button>
            </div>
          </li>

          <li class="list-group-item">
            <div class="d-flex">
              <button type="button"
                      class="btn btn-lg btn-block btn-outline-primary mx-auto"
                      style="width: 50%"
                      (click)="replaceAnswer('WORSE')">
                WORSE
              </button>
            </div>
          </li>

          <li class="list-group-item">
            <div class="d-flex">
              <button type="button"
                      class="btn btn-lg btn-block btn-outline-primary mx-auto"
                      style="width: 50%"
                      (click)="replaceAnswer('EQUAL')">
                EQUAL
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
