<section class="jumbotron text-center m-4">
  <h1 class="jumbotron-heading">Главная</h1>
  <div class="container">
    <p class="lead text-muted">
      Приветствуем!
    </p>
    <p class="lead text-muted">
      Какой-то абзац
    </p>
    <p class="lead text-muted">
      Методы ZAPROS_II и ZAPROS_III, а так же ARACE и ARACE_QV требуют для ранжирования одинаковые данные.<br>
      Разница в том, что ZAPROS_II и ARACE считают на порядковых шкалах, а ZAPROS_III и ARACE_QV - на интервальных
    </p>
    <p class="lead text-muted">
      Threshold позволяет задать допустимый порог противоречий (актуально только для ARACE и ARACE_QV).<br>
      По умолчанию 0,25
    </p>
  </div>
</section>

<div class="d-flex m-4">
  <button type="button"
          class="btn btn-lg btn-block btn-outline-primary mx-auto"
          (click)="toProjects()">
    Перейти к проектам
  </button>
</div>
